* {
  /* border: 2px solid red; */
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
  font-family: 'Arial Narrow Bold', sans-serif;
}
body {
  background: linear-gradient(200deg, #290355 2%, #0e0127 80%);
}
main {
  min-height: 100vh;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
  color: #fff !important;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
h3 {
  padding: 1rem 0;
}
.rating span {
  margin: 0.1rem;
}

.nav-bar-togggle {
  background-image: url("data:image/svg+xml, <svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg> ");
}

.nav-screen-links {
  color: #fff !important;
  margin: auto 1rem;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  font-size: 100%;
}
.nav-screen-links:hover {
  background-color: rgba(255, 255, 255, 0.163) !important;
  border-radius: 50px;
}

.contact {
  background-color: #2b1ec2;
  border-radius: 50px;
}
.tnc {
  width: 100%;
  margin: auto;
  padding: 0.5rem;
}

.sm-box {
  display: flex;
  margin: auto;
  padding: 0.5rem;
  position: relative;
  width: 100%;
}
.sm-box i {
  cursor: pointer;
}
.sm-box i:hover {
  color: #fff;
}
.border-black-2px {
  border: 2px solid #000;
}
.bg-transparent {
  background-color: transparent;
}
.br-6 {
  border-radius: 6px;
}
strong {
  color: #fff;
  font-size: medium;
  font-weight: 600;
}
.countdown-box {
  height: 100px;
}
.countdown-cards {
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  width: 20%;
}
.countdown-cards > h1 {
  color: #000 !important;
  font-weight: 900;
  font-size: 2rem;
  /* flex-grow: 1; */
  padding: 0;
  width: 100%;
}
.countdown-cards > div {
  font-weight: 500;
}
.name-input {
  border-bottom: 2px solid #7645ae;
  margin-bottom: 20px;
}

.form-box {
  height: 50px;
}

.form-box > input {
  border-radius: 50px;
}
.form-box > button {
  background-color: #2b1ec2;
  border-radius: 50px;
  font-size: 1rem;
  width: 40%;
  padding: 0;
}

@media screen and (max-width: 600px) {
  .form-box > button {
    font-size: 0.5rem;
  }
}
